th, td {
    border: 1px solid;
    border-radius: 10px;
    width: 125px;
}
#demo{
    float: center;
    border-collapse: collapse;
    margin: 1% 32%;
    width: 500px;
}

@media screen and (min-width: 1300px) {
    #demo{
        margin: 1% 38%;
    }
}
    
@media screen and (max-width: 1250px) {
    #demo{
        margin: 1% 28%;
    }
}
@media screen and (max-width: 500px) {
    #demo{
        margin: 1% 15%;
        width: 300px;
    }
}