/*th, td {
    border: 1px solid;
}
#demo{
    float: center;
    border-collapse: collapse;
}*/
div{
    float: center;
    margin-left: 35%;
}
input{
    border-radius: 10px;
    margin: 15px;
    width: 500px;
    height: 40px;
}
::placeholder{
    text-align: center;
}
button{
    float: center;
}