th, td {
    width: 125px;
    color: #565656;
}
th,td , #demo{
    border: 1px solid;
    border-radius: 10px;
}
body{
    background-color: #eeeff3 ;
}
#demo{
    float: center;
    background-color: #eeeff3 ;
    margin: 1% 32%;
    width: 500px;
}

@media screen and (min-width: 1300px) {
    #demo{
        margin: 3% 30%;
    }
}
    
@media screen and (max-width: 1250px) {
    #demo{
        margin: 3% 26%;
    }
}
@media screen and (max-width: 500px) {
    #demo{
        margin: 5% 15%;
        width: 250px;
    }
}