#dati{
    float: center;
    margin: 1% 32%;
}
body{
    background-color: #eeeff3 ;
}
input{ 
    border-radius: 10px;
    border-color: #565656 ;
    background-color: #eeeff3 ;
    margin: 15px;
    width: 500px;
    height: 40px;
}
::placeholder{
    text-align: center;
    color: #565656;
}
button{
    float: center;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #c3d8e2 ;
}
#bottoni{
    margin-left: 48%;
}

@media screen and (min-width: 1300px) {
    input{
        width: 500px;
        height: 40px;
    }
    #dati{
        margin: 1% 30%;
    }
    button{
        width: 80px;
        height: 40px;
    }
    #bottoni{
        margin-left: 40%;
    }
}
    
@media screen and (max-width: 1250px) {
    input{
        width: 350px;
        height: 40px;
    }
    #dati{
        margin: 1% 30%;
    }
    button{
        width: 80px;
        height: 40px;
    }
    #bottoni{
        margin-left: 40%;
    }
}
@media screen and (max-width: 500px) {
    input{
        width: 350px;
        height: 40px;
    }
    #dati{
        margin: 1% 3%;
    }
    button{
        width: 80px;
        height: 40px;
    }
    #bottoni{
        margin-left: 35%;
    }
}