input{ 
    border-radius: 10px;
    border-color: #565656 ;
    background-color: #eeeff3 ;
    margin: 15px;
    height: 40px;
}
#MAC-Address{
    width: 100px;
}
#prefixLength{
    width: 40px;
}
button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #c3d8e2 ;
}
body{
    background-color: #eeeff3 ;
}