div{
    float: left;
}
th, td {
    width: 125px;
    color: #565656;
}
th,td , #demo{
    border: 1px solid;
    border-radius: 10px;
}
body{
    background-color: #eeeff3 ;
}
#demo{
    float: center;
    background-color: #eeeff3 ;
    margin: 1% 32%;
    width: 500px;
}
button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: #c3d8e2 ;
}
input{ 
    border-radius: 10px;
    border-color: #565656 ;
    background-color: #eeeff3 ;
    margin: 15px;
    width: 500px;
    height: 40px;
}
::placeholder{
    text-align: center;
    color: #565656;
}
#myCanvas{
    float: center;
    background-color: #eeeff3 ;
    margin: 1% 15%;
    border:1px solid black;
    box-shadow: 2px 2px 20px rgb(128, 0, 81);
}